

<!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
{% load static %}

{#{{ page }}#}
    {% if page != 'home' and  page != 'index' %}
        <!-- ======= Breadcrumbs ======= -->
        <div class="page-title dark-background">
          <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0"><i class="{{ bc_icon }}"></i> {{ bc_title }}</h1>
            <nav class="breadcrumbs">
              <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">{{ bc_title }}</li>
              </ol>
            </nav>
          </div>
        </div><!-- End Page Title -->
    {% else %}
{#        home#}
    {% endif %}



