

<!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center" align="justify">
	<div class="hero-container" data-aos="fade-in">
		<div>
<!--	<div class="container" data-aos="fade-in">-->
		<span><h1><b>EMRAN ALI</b></h1></span>
<!--		<p style="font-size: medium"><span class="typed" data-typed-items="Education, Research, Development"></span></p>-->
		<p><i><span style="font-size: medium" class="typed" data-typed-items="<i class='bx bxs-graduation'></i> Education , <i class='bx bx-bong'></i> Research , <i class='bx bi-tools'></i> Development "></span></i></p>
		<p class="row fst-italic" style="font-size: medium">
			Ph.D. Candidate (IT & CSM) <br>
			Deakin University, Australia & <br>Coventry University, United Kingdom.
		</p>
		<p class="row fst-italic" style="font-size: small">
			AI | ML | DL | Interpretability | Health Informatics
		</p>
		</div>
	</div>
</section>
<!-- End Hero -->



