

<!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
{% load static %}

    <!-- Hero Section -->
    <!-- <section id="hero" class="hero section dark-background justify-content-center align-items-center"> -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'myresources/myimg/emran-bg.jpg' %}" alt="Emran Ali - Personal Website | emran ali site bg background image" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Emran Ali</h2>
        <p style="text-align: center;">
          <span class="typed" data-typed-items="<i class='bx bxs-graduation'></i> Education , <i class='bx bx-bong'></i> Research , <i class='bx bi-tools'></i> Development "></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
        </p>
        <!-- <p class="row fst-italic" style="font-size: medium"> -->
        <!-- <p class="row fst-italic" style="font-size: small; text-align: center;"> -->
        <!-- <p style="font-size: small; text-align: center; font-style: italic;">
          Ph.D. Candidate (IT & CSM) <br>
          Deakin University, Australia & <br>Coventry University, United Kingdom. <br>
          AI | ML | DL | Interpretability | Health Informatics
        </p> -->

        <!-- <p style="font-size: small; text-align: center; font-style: italic;"> -->
          <!-- Ph.D. Candidate (IT & CSM) <br>
          Deakin University, Australia & <br>Coventry University, United Kingdom. <br>
          AI | ML | DL | Interpretability | Health Informatics -->
        <!-- </p> -->

        <!-- <p style="font-size: small; text-align: center; font-style: italic;"> -->
          Ph.D. Reseracher <br>
          IT @ Deakin University, Australia <br>
          CSM @ Coventry University, United Kingdom <br>
          AI | ML | DL | Interpretability | Health Informatics
        <!-- </p> -->
      </div>

    </section><!-- /Hero Section -->



