

<!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
{% load static %}

	<div class="d-flex flex-column">
		<div class="profile">
			<img src="{% static '/myresources/personal/emran-ali-pp.JPG' %}" alt="Emran Ali - Personal Website | emran ali pp" class="img-fluid rounded-circle">
			<h1 class="text-light"><a href="index.html">EMRAN ALI</a></h1>
			<div class="social-links mt-3 text-center">
				<a href="https://www.twitter.com/WWM_EMRAN" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
				<a href="https://facebook.com/wwm.emran" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
				<a href="https://instagram.com/wwm.emran" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
				<a href="mailto:emran.ali@research.deakin.edu.au" class="email"><i class="bx bi-envelope"></i></a>
				<a href="skype:wwm.emran?chat" class="skype"><i class="bx bxl-skype"></i></a>
				<a href="http://www.linkedin.com/in/wwmemran" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
				<a href="https://scholar.google.com.au/citations?hl=en&user=ej8d6LkAAAAJ" target="_blank" class="google"><i class="bx bxl-google"></i></a>
				<a href="https://www.researchgate.net/profile/Emran-Ali-2" target="_blank" class="researchgate"><i class="bx bi-r-square"></i></a>
				<a href="https://github.com/WWM-EMRAN" target="_blank" class="github"><i class="bx bxl-github"></i></a>
				<a href="https://stackoverflow.com/users/2314674/wwm-emran" target="_blank" class="stack-overflow"><i class="bx bxl-stack-overflow"></i></a>
				<a href="https://quora.com/Wwm-Emran" target="_blank" class="quora"><i class="bx bxl-quora"></i></a>
				<a href="https://www.youtube.com/c/WWMEMRAN" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
			</div>
		</div>

		<nav id="navbar" class="nav-menu navbar">
			<ul>
				<li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a> </li>
				<li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
				<li><a href="#education" class="nav-link scrollto"><i class="bx bxs-graduation"></i><span>Education</span></a></li>
				<li><a href="#profession" class="nav-link scrollto"><i class="bx bx-briefcase"></i> <span>Professional Experiences</span></a> </li>
<!--				<li><a href="#expertiseandachievements" class="nav-link scrollto more-button"><i class="bx bx-award"></i> <span>Expertise and Achievements </span><i id="arrow" class="bx bxs-down-arrow"></i></a>-->
<!--				<li><a href="#expertiseandachievements" class="nav-link scrollto more-button"><i class="bx bx-award"></i> <span>Expertise and Achievements </span></a>-->
				<li><a href="#expertiseandachievements" class="nav-link scrollto more-button"><i class="bx bx-trophy"></i> <span>Expertise and Achievements </span></a>
					<ul class="more-options">
<!--						<li><a href="#skills" class="nav-link scrollto"><i class="bx bx-package"></i> <span>Skills</span></a></li>-->
						<li><a href="#skills" class="nav-link scrollto"><i class="bx bxs-wrench"></i> <span>Skills and Tools</span></a></li>
						<li><a href="#awards" class="nav-link scrollto"><i class="bx bx-medal"></i> <span>Honors and Awards</span></a></li>
						<li><a href="#certificate" class="nav-link scrollto"><i class="bx bx-book-bookmark"></i> <span>Certificates</span></a></li>
						<li><a href="#projects" class="nav-link scrollto"><i class="bx bx-bulb"></i> <span>Projects</span></a></li>
						<li><a href="#membership" class="nav-link scrollto"><i class="bx bx-group"></i> <span>Memberships</span></a></li>
						<li><a href="#sessionlead" class="nav-link scrollto"><i class="bx bx-chair"></i> <span>Session Lead</span></a></li>
						<li><a href="#language" class="nav-link scrollto"><i class="bx bx-conversation"></i> <span>Languages</span></a></li>
						<li><a href="#githubrepo" class="nav-link scrollto"><i class="bx bxl-github"></i> <span>Github Repositories</span></a></li>
					</ul>
				</li>
				<li><a href="#publications" class="nav-link scrollto"><i class="bx bi-journal-richtext"></i> <span>Publications</span></a></li>
				<li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
			</ul>
			<!-- bxs-badge bx-file-blank bx-home bx-user bx-award bx-book-content bx-server bx-envelope bxs-graduation bxs-user-x bxs-user-pin
			 bxs-user-detail bxs-user-check bxs-user-badge bxs-user-account -->
		</nav><!-- .nav-menu -->
	</div>


