

<!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
{% load static %}
{% load template_data_manager %}

    {% with section='hero' bc_icon='' bc_title='Hero' det_url='/emran/hero' site_info=site_information.all.0 personal_info=personal_information.all.0 %}
    <header id="header" class="header dark-background d-flex flex-column">

        <i class="header-toggle d-xl-none bi bi-list"></i>

        <div class="profile-img">
          <img src="{% static '/myresources/personal/emran-ali-pp.jpg' %}" alt="Emran Ali - Personal Website | emran ali pp" class="img-fluid rounded-circle">
        </div>

        <a href="/emran/" class="logo d-flex align-items-center justify-content-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="{% static 'myresources/icons/Emran_Ali_Logo_Fav.png' %}" alt="Emran Ali - Personal Website | emran ali logo fav">
          <h1 class="sitename">{{ personal_info.pi_name|upper }}</h1>
        </a>

        <div class="social-links text-center">
          <a href="{{ personal_info.pi_sm_twitter }}" target="_blank" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="{{ personal_info.pi_sm_facebook }}" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="{{ personal_info.pi_sm_instagram }}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="{{ personal_info.pi_sm_linkedin }}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
          <a href="{{ personal_info.pi_sm_googlescholar }}" target="_blank" class="google"><i class="bi bi-google"></i></a>
          <a href="{{ personal_info.pi_sm_resarchgate }}" target="_blank" class="researchgate"><i class="bx bi-r-square"></i></a>
          {% get_list_from_string personal_info.pi_sm_email as email_list %}
          <a href="mailto:{{ email_list.data_list.0 }}" class="email"><i class="bi bi-envelope-at"></i></a>
          {% get_list_from_string personal_info.pi_sm_skype as skype_list %}
          <a href="skype:{{ skype_list.data_list.0 }}?chat" class="skype"><i class="bi bi-skype"></i></a>
{#          {% get_list_from_string personal_info.pi_sm_phone as cell_list %}#}
{#          <a href="tel:{{ cell_list.data_list.0 }}" class="tel"><i class="bi bi-telephone"></i></a>#}
{#          {% get_list_from_string personal_info.pi_sm_whatsapp as whatsapp_list %}#}
{#          <a href="https://wa.me/{{ whatsapp_list.data_list.0 }}" target="_blank" class="whatsapp"><i class="bi bi-whatsapp"></i></a>#}
          <a href="{{ personal_info.pi_sm_github }}" target="_blank" class="github"><i class="bi bi-github"></i></a>
          <a href="{{ personal_info.pi_sm_stackoverflow }}" target="_blank" class="stack-overflow"><i class="bi bi-stack-overflow"></i></a>
          <a href="{{ personal_info.pi_sm_quora }}" target="_blank" class="quora"><i class="bi bi-quora"></i></a>
          <a href="{{ personal_info.pi_sm_youtube }}" target="_blank" class="youtube"><i class="bi bi-youtube"></i></a>
        </div>

        <nav id="navmenu" class="navmenu">
            <ul>
                {% if page == 'home' %}
                <!-- <li><a href="#hero" class="scrollto active"><i class="bi bi-house navicon"></i> <span>Home</span></a> </li> -->
                <li><a href="#hero" class="active"><i class="bx bx-home navicon"></i> <span>Home</span></a> </li>
                <li><a href="#about"><i class="bi bi-person navicon"></i> <span>About</span></a></li>
                <li><a href="#educations"><i class="bi bi-mortarboard navicon"></i><span>Education</span></a></li>
                <li><a href="#professionalExperiences"><i class="bi bi-briefcase navicon"></i> <span>Professional Experiences</span></a> </li>
                <li class="dropdown">
                    <a href="#"><i class="bi bi-trophy navicon"></i> <span>Expertise and Achievements</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
{#                    <a href="#"><i class="bi bi-trophy navicon"></i> Expertise and Achievements <i class="bi bi-chevron-down toggle-dropdown"></i></a>#}
{#                <li class="dropdown"> <a href="#"><i class="bi bi-trophy navicon"></i> <span>Expertise and Achievements</span> <i class="bx bxs-up-arrow-alt toggle-dropdown"></i></a> #}
{#                <li class="dropdown"> <a href="#"><i class="bi bi-trophy navicon"></i> <span>Expertise and Achievements</span> <i class="bi bi-arrow-right toggle-dropdown"></i> </a> #}
{#                <li class="dropdown"> <a href="#"><i class="bi bi-trophy navicon"></i> <span>Expertise and Achievements</span> <i class="bi bi-arrow-down toggle-dropdown"></i> </a>#}
                    <ul>
                        <li><a href="#skillsTools"><i class="bi bi-tools navicon"></i> <span>Skills and Tools</span></a></li>
                        <li><a href="#honorsAwards"><i class="bi bi-award navicon"></i> <span>Honors and Awards</span></a></li>
                        <!-- <li><a href="#coursesTrainingsCertificates"><i class="bx bx-book-bookmark navicon"></i> <span>Certificates</span></a></li>  -->
                        <li><a href="#coursesTrainingsCertificates"><i class="bx bi-journal-bookmark-fill navicon"></i> <span>Certificates</span></a></li>
                        <li><a href="#projects"><i class="bi bi-lightbulb navicon"></i> <span>Projects</span></a></li>
                        <li><a href="#memberships"><i class="bi bi-people navicon"></i> <span>Memberships</span></a></li>
                        <li><a href="#sessionsEvents"><i class="bi bi-calendar-event navicon"></i> <span>Sessions and Events</span></a></li>
                        <li><a href="#languages"><i class="bx bx-conversation navicon"></i> <span>Languages</span></a></li>
                        <li><a href="#portfolios"><i class="bi-images navicon"></i> <span>Portfolios</span></a></li>
{#                        <li><a href="#volunteerings"><i class="bx bxs-hand navicon"></i> <span>Volunteering</span></a></li>#}
                        <li><a href="#volunteerings"><i class="bx bxs-donate-heart navicon"></i> <span>Volunteering</span></a></li>
                    </ul>
                </li>
                <li><a href="#publications"><i class="bx bi-journal-richtext navicon"></i> <span>Publications</span></a></li>
                <li><a href="#contacts"><i class="bi bi-envelope navicon"></i> <span>Contacts</span></a></li>

                {% elif page == 'details' %}
                <li><a href="/emran/" ><i class="bx bx-home navicon"></i> <span>Home</span></a> </li>
                <li><a href="javascript:history.back()"><i class="bx bx-share navicon"></i> <span>About</span></a></li>

                {% else %}
                <li><a href="/emran/" ><i class="bx bx-home navicon"></i> <span>Home</span></a> </li>

                {% endif %}
            </ul>
        </nav>

        <!-- <footer id="menu_footer" class="footer position-relative"> -->
        <div id="menu_footer" class="footer">
        <!-- <footer id="menu_footer" class="footer"> -->
          <div class="container">
            <!-- <div class="copyright">
              &copy; Copyright <strong><span> <a href="copyright.html"> <img src="assets/img/Emran_Ali_Logo_Fav.png" alt="Emran Ali - Personal Website | emran ali logo fav" class="img-fluid rounded-circle"> wwm.emran </a> </span></strong>
            </div>
            <div class="credits">
              Designed by iPortfolio <br>
              Design available on <a target="_blank" href="https://bootstrapmade.com/">BootstrapMade</a>
            </div> -->
            <div class="copyright">
              <p style="text-align: center;">
                &copy; Copyright · {{ emran_current_year }} <strong><span> <a href="copyright.html"> <img style="height: 20px;" src="{% static 'myresources/icons/Emran_Ali_Logo_Fav.png' %}" alt="Emran Ali - Personal Website | emran ali logo fav" class="img-fluid rounded-circle">  WWM Emran </a> </span></strong>
              </p>
            </div>
            <div class="credits">
              <a href="diary.html"> Diary </a> | <a href="gallery.html"> Gallery </a>
            </div>
          </div>
        <!-- </footer> -->
        </div>
    </header>
    {% endwith %}


