

<!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
{% load static %}
{% load template_data_manager %}

{#    <i class="{{ bc_icon }}"></i> {{ bc_title }}#}
{#{{ target_url }}#}

    {% if section|in_list:'skills,awards,certificates,projects,memberships,sessionsevents,languages,portfolios,volunteerings,publications' %}
        <form id="{{ form_id }}" action="{{ target_url }}" method="POST" style="display: inline; color: transparent; background-color: transparent;">
            {% csrf_token %}
            <input type="hidden" name="page" value="{{ page }}">
            <input type="hidden" name="section" value="{{ section }}">
            <input type="hidden" name="selected_data_id" value="{{ selected_data_id }}">
            <input type="hidden" name="bc_icon" value="{{ bc_icon }}">
            <input type="hidden" name="bc_title" value="{{ bc_title }}">
{#            <input type="hidden" name="data" value="{{ data|deserialize_object_data|serialize_object_data:True|safe }}">#}
            <input type="hidden" name="data" value="{{ data }}">

{#            {% if button_text == None and button_icon == None %}#}
{#                <button type="submit" style="all:unset; background: none; border: none; cursor: pointer; color: transparent;"></button>#}
            {% if button_text == None and button_icon != None %}
                <button type="submit" style="all: unset; cursor: pointer; color: #149ddd;"> <i class="{{ button_icon }}"></i></button>
            {% elif button_text != None and button_icon == None %}
                <button type="submit" style="all: unset; cursor: pointer;"> </button>
            {% elif button_text != None and button_icon != None %}
                <button type="submit" style="all: unset; cursor: pointer; color: #0F0F0f;"> <i class="{{ bc_icon }}"></i> {{ button_text }} <i class="{{ button_icon }}"></i> </button>
{#            {% else %}#}
{#                <button type="submit" style="background: none; border: none; cursor: pointer; color: transparent;"></button>#}
            {% endif %}
      </form>
    {% else %}
    something to show...
    {% endif %}



