{# ##### Base: Page Structure ##### #}
{% extends 'emran_theme1/base.html' %}


{# ##### Static Files: Load static files directory/folder: image-jpg|png|ico, css, js ##### #}
{% load static %}


{# ##### Title: Page Title ##### #}
{% block title %}
	Emran Ali - Personal Website | Details
{% endblock %}


{# ##### Hero: Hero Section of the Main Page ######}
{#{% block hero %}#}
{#    {% include './_hero.html' %}#}
{#{% endblock %}#}


 ##### Content: Main Content #####
{% block content %}

    {% load template_data_manager %}
    {{ section }} == {{ data }}
    {% test_anything section %}
    {% test_anything data %}

    <!-- Start Portfolio Details Section -->
    <section id="{{ section }}" class="portfolio-details" align="justify">
		<div class="container">
			<div class="row gy-4">
                {% with dat.sat_description|get_arranged_description_for_skillsAndTools as arranged_desc %}
                <div id="{{ dat.id }}" class="portfolio-info" data-aos="fade-up" data-aos-delay="100">
                    <h4 class="title"><a href="#{{ dat.id }}"><i class="{{ bc_icon }}"></i> {{ dat.sat_title }} </a></h4>
                    <p class="description">
                        <strong>Short Description: </strong> {{ dat.sat_short_description|default:"(N/A)"}} <br>
                        <strong>Description: </strong> {{ arranged_desc|linebreaksbr|default:"(N/A)" }} <br>
                        <strong>Level: </strong> {{ dat.sat_skill_level|default:"(N/A)"}}% <br>
                    </p>
                </div>
                {% endwith %}
			</div>

		</div>
	</section>
    <!-- Start Portfolio Details Section -->



{#    <!-- Start General Details Section -->#}
{#    <section id="skill-details2" class="general-details" align="justify">#}
{#		<div class="container">#}
{##}
{#			<div class="row gy-4">#}
{#				<!-- <div class="col-lg-8"> -->#}
{#				<div class="general-info" data-aos="fade-up" data-aos-delay="100">#}
{#					<h4 class="title"><a href="#"> Computer Programming </a></h4>#}
{#					<div class="col-lg-8 pt-4 pt-lg-0 content" >#}
{#						<p>#}
{#							C, C++, Java, C#, Objective-C, Swift, Python, PHP, R#}
{#						</p>#}
{#					</div>#}
{#				</div>#}
{#				<!-- <div class="col-lg-8"> -->#}
{#				<div class="general-info" data-aos="fade-up" data-aos-delay="100">#}
{#					<h4 class="title"><a href="#"> Computer Programming </a></h4>#}
{#					<div class="col-lg-8 pt-4 pt-lg-0 content" >#}
{#						<p>#}
{#							C, C++, Java, C#, Objective-C, Swift, Python, PHP, R#}
{#						</p>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{##}
{#		</div>#}
{#	</section>#}
{#    <!-- End General Details Section -->#}



{% endblock %}

