

    <!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
    {% load static %}


    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="/"><img src="{% static 'theme1/assets/siteimages/logos/logo-corp-red.png' %}" alt="HumachLab"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
          <ul>
{#            <li class="dropdown-toggle active">#}
{#                <a href="/">Home</a>#}
{#            </li>#}
{#            <li class="dropdown active">#}
{#                <a href="/">Home</a>#}
{#            </li>#}
            <li class="dropdown-toggle">
                <a href="/">Home</a>
            </li>

            <li class="dropdown dropdown-megamenu">
{#              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">#}
{#                  Services#}
{#              </a>#}
              <a class="dropdown-toggle" href="/services">
                  Services
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      <div class="col-md-4 header-navigation-col">
                        <h4>Research</h4>
                        <ul>
                          <li><a href="/services?type=research&id=ai">Artificial Intelligence (AI)</a></li>
                          <li><a href="/services?type=research&id=ml">Machine Learning (ML)</a></li>
                          <li><a href="/services?type=research&id=dl">Deep Learning (DL)</a></li>
                          <li><a href="/services?type=research&id=hi">Health Informatics</a></li>
                          <li><a href="/services?type=research&id=sp">Signal Processing</a></li>
                          <li><a href="/services?type=research&id=ss">System Security</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>Education</h4>
                        <ul>
                          <li><a href="/services?type=education&id=crs">Course</a></li>
                          <li><a href="/services?type=education&id=trn">Training</a></li>
                          <li><a href="/services?type=education&id=oos">One-to-one Session</a></li>
                        </ul>
                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>Development</h4>
                        <ul>
                          <li><a href="/services?type=development&id=web">Web</a></li>
                          <li><a href="/services?type=development&id=app2">Apple Application</a></li>
                          <li><a href="/services?type=development&id=ios">iOS</a></li>
                          <li><a href="/services?type=development&id=and">Android</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>

            <li class="dropdown">
{#              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">#}
{#                About Us#}
{#              </a>#}
              <a class="dropdown-toggle" data-target="#" href="/">
                About Us
              </a>
              <ul class="dropdown-menu">
                <li><a href="/index">About HumachLab</a></li>
                <li><a href="/index">Portfolio</a></li>
                <li><a href="/index">Teams</a></li>
              </ul>
            </li>

            <li class="dropdown-toggle">
{#                <a href="/index">Blog</a>#}
              <a class="dropdown-toggle" data-target="#" href="/index">
                Blog
              </a>
            </li>

            <li class="dropdown-toggle">
{#                <a href="/contact">Contact</a>#}
              <a class="dropdown-toggle" data-target="#" href="/contact">
                Contact
              </a>
            </li>

            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div>
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->


