

    <!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
    {% load static %}


    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>About Us</h2>
            <p>
                HumachLab is a "not for profit" organisation involves in Research, Education and Development. It consists of different independent team
                to do funded and unfunded cutting-edge researches, trains enthusiasts for skills development in tech, and involve in software and application
                development using latest tools and technologies.
            </p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>Contact Details</h2>
            <address class="margin-bottom-40">
              <strong>HumachLab</strong><br>
              Burwood<br>
              Victoria-3125, Australia<br>
{#              Phone: +61 480 248 845<br>#}
              Email: <a href="mailto:info@humachlab.com">info@humachlab.com</a><br>
              Gmail: <a href="mailto:humachlab@gmail.com">humachlab@gmail.com</a><br>
              Skype: <a href="skype:humachlab">humachlab</a>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->

          <!-- BEGIN SUBSCRIPTION BLOCK -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
{#            <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">#}
              <h2>Newsletter</h2>
              <p>Subscribe to our newsletter and stay up to date with the latest news!</p>
              <form action="/form_newsletter" method="POST" role="form">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" name="newsletter_email" placeholder="youremail@mail.com" class="form-control" required>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Subscribe</button>
                  </span>
                </div>
              </form>

{#              <form action="/form_newsletter" method="POST" role="form">#}
{#                <div class="input-group">#}
{#                  {% csrf_token %}#}
{#                  {{ form_newsletter }}#}
{#                  {{ form_newsletter.as_p }}#}
{#                  <span class="input-group-btn">#}
{#                    <button class="btn btn-primary" type="submit">Subscribe</button>#}
{#                  </span>#}
{#                </div>#}
{#                  {% if form.errors %}#}
{#                    <div class="errors">#}
{#                        <ul>#}
{#                            {% for field in form_newsletter %}#}
{#                                {% for error in field.errors %}#}
{#                                    <li>{{ error }}</li>#}
{#                                {% endfor %}#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                  {% endif %}#}
{#              </form>#}

            </div>
          </div>
          <!-- END SUBSCRIPTION BLOCK -->
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->



