{# ##### Base: Page Structure ##### #}
{% extends 'theme1/base.html' %}


{# ##### Static Files: Load static files directory/folder: image-jpg|png|ico, css, js ##### #}
{% load static %}


{# ##### Title: Page Title ##### #}
{% block title %}
	HumachLab - Contact
{% endblock %}


{# ##### Hero: Hero Section of the Main Page ##### #}
{#{% block hero %}#}
{#    {% include './_hero.html' %}#}
{#{% endblock %}#}


{# ##### Breadcrumb: Breadcrumb Section of the Main Page showing the path ##### #}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="/index">Home</a></li>
        <li class="active">Contact</li>
    </ul>
{% endblock %}


{# ##### Content: Main Content ##### #}
{% block content %}

    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12">
        <h1>Contact</h1>
        <div class="content-page">
          <div class="row">

            <div class="col-md-9 col-sm-9">
              <h2>Contact Form</h2>
              <p>
                  Reach out to us via this form. We will be happy to hear from you.
              </p>

              <!-- BEGIN FORM-->
              <form action="/" method="POST" role="form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="contacts-name">Name</label>
                  <input type="text" placeholder="You Name" class="form-control" name="contacts_name">
                </div>
                <div class="form-group">
                  <label for="contacts-email">Email <span class="color-red">*</span></label>
                  <input type="email" placeholder="youremail@mail.com" class="form-control" name="contacts_email">
                </div>
                <div class="form-group">
                  <label for="contacts-message">Message</label>
                  <textarea class="form-control" placeholder="Your message" rows="5" name="contacts_message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Send</button>
                <button type="button" class="btn btn-default">Cancel</button>
              </form>
              <!-- END FORM-->
            </div>

            <div class="col-md-3 col-sm-3 sidebar2">
              <h2>Our Contacts</h2>
              <address>
                  <strong>HumachLab</strong><br>
                  Address: <br>
                  Burwood<br>
                  Victoria-3125, Australia<br>
              </address>
              <address>
{#                <strong>Phone</strong><br>#}
{#                Phone: +61 480 248 845<br>#}
                <strong>Email</strong><br>
                  <a href="mailto:info@humachlab.com">info@humachlab.com</a><br>
                  <a href="mailto:humachlab@gmail.com">humachlab@gmail.com</a><br>
                <strong>Skype</strong><br>

              <li><a href="skype:humachlab?userinfo" data-original-title="skype" class="skype"></a></li><a href="skype:humachlab">humachlab</a>
              </address>
              <strong>Social Platforms</strong><br>
              <ul class="social-icons margin-bottom-40">
              <li><a href="https://www.facebook.com/humachlab" target="_blank" data-original-title="facebook" class="facebook"></a></li>
              <li><a href="https://x.com/@humachlab" target="_blank" data-original-title="twitter" class="twitter"></a></li>
{#              <li><a href="https://x.com/@humachlab" target="_blank"><i class="fa fa-x-twitter"></i></a></li>#}
{#              <li><a href="javascript:;" target="_blank"><i class="fa fa-google-plus"></i></a></li>#}
              <li><a href="https://www.linkedin.com/company/humachlab" target="_blank" data-original-title="linkedin" class="linkedin"></a></li>
              <li><a href="https://github.com/humachlab" target="_blank" data-original-title="github" class="github"></a></li>
              <li><a href="https://www.youtube.com/@humachlab" target="_blank" data-original-title="youtube" class="youtube"></a></li>
              <li><a href="skype:humachlab?userinfo" target="_blank" data-original-title="skype" class="skype"></a></li>
              </ul>

              <h2 class="padding-top-30">About Us</h2>
              <p>
                  HumachLab is a "not for profit" organisation involves in:
{#                  Research, Education and Development.#}
{#                  It consists of different independent team to do funded and unfunded cutting-edge researches, trains enthusiasts for skills development in tech,#}
{#                  and involve in software and application development using latest tools and technologies.#}
              </p>
              <ul class="list-unstyled">
                <li><i class="fa fa-check"></i> Research </li>
                <li><i class="fa fa-check"></i> Education </li>
                <li><i class="fa fa-check"></i> Development </li>
              </ul>
            </div>

            <div class="col-md-12">
              <h2>Map</h2>
              <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>

{% endblock %}

