

<!-- >load static files directory/folder: image-jpg|png|ico, css, js -->
{% load static %}
    <header id="header">
        <!-- ======= Mobile nav toggle button ======= -->
        <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

        <div class="d-flex flex-column">
            <div class="profile">
                <img src="{% static '/myresources/personal/emran-ali-pp.JPG' %}" alt="Emran Ali - Personal Website | emran ali pp" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="/emran/">EMRAN ALI</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="https://www.twitter.com/WWM_EMRAN" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://facebook.com/wwm.emran" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="https://instagram.com/wwm.emran" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="http://www.linkedin.com/in/wwmemran" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://scholar.google.com.au/citations?hl=en&user=ej8d6LkAAAAJ" target="_blank" class="google"><i class="bx bxl-google"></i></a>
                    <a href="https://www.researchgate.net/profile/Emran-Ali-2" target="_blank" class="researchgate"><i class="bx bi-r-square"></i></a>
                    <a href="mailto:emran.ali@research.deakin.edu.au" class="email"><i class="bx bi-envelope"></i></a>
                    <a href="skype:wwm.emran?chat" class="skype"><i class="bx bxl-skype"></i></a>
    {#                <a href="tel:+61480248845" class="tel"><i class="bi bi-telephone"></i></a> #}
    {#                <a href="https://wa.me/+61480248845" target="_blank" class="whatsapp"><i class="bi bi-whatsapp"></i></a> #}
                    <a href="https://github.com/WWM-EMRAN" target="_blank" class="github"><i class="bx bxl-github"></i></a>
                    <a href="https://stackoverflow.com/users/2314674/wwm-emran" target="_blank" class="stack-overflow"><i class="bx bxl-stack-overflow"></i></a>
                    <a href="https://quora.com/Wwm-Emran" target="_blank" class="quora"><i class="bx bxl-quora"></i></a>
                    <a href="https://www.youtube.com/c/WWMEMRAN" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    {% if page == 'home' %}
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a> </li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="#educations" class="nav-link scrollto"><i class="bx bxs-graduation"></i><span>Education</span></a></li>
                    <li><a href="#professionalExperiences" class="nav-link scrollto"><i class="bx bx-briefcase"></i> <span>Professional Experiences</span></a> </li>
                    <li>
                      <a href="#" class="nav-link scrollto more-button" data-toggle="collapse">
                        <i class="bx bx-trophy"></i> <span>Expertise and Achievements</span>
                        &nbsp;&nbsp;<i class="bx bxs-down-arrow-alt arrow-icon"></i>
                      </a>
                      <ul class="sub-menu">
                        <li><a href="#skillsTools" class="nav-link scrollto"><i class="bx bxs-wrench"></i> <span>Skills and Tools</span></a></li>
                        <li><a href="#honorsAwards" class="nav-link scrollto"><i class="bx bx-medal"></i> <span>Honors and Awards</span></a></li>
                        <li><a href="#coursesTrainingsCertificates" class="nav-link scrollto"><i class="bx bx-book-bookmark"></i> <span>Certificates</span></a></li>
                        <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-bulb"></i> <span>Projects</span></a></li>
                        <li><a href="#memberships" class="nav-link scrollto"><i class="bx bx-group"></i> <span>Memberships</span></a></li>
                        <li><a href="#sessionsEvents" class="nav-link scrollto"><i class="bx bx-chair"></i> <span>Sessions and Events</span></a></li>
                        <li><a href="#languages" class="nav-link scrollto"><i class="bx bx-conversation"></i> <span>Languages</span></a></li>
                        <li><a href="#portfolios" class="nav-link scrollto"><i class="bx bxl-github"></i> <span>Portfolios</span></a></li>
                        <li><a href="#volunteerings" class="nav-link scrollto"><i class="bx bxs-hand"></i> <span>Volunteering</span></a></li>
                      </ul>
                    </li>
                    <li><a href="#publications" class="nav-link scrollto"><i class="bx bi-journal-richtext"></i> <span>Publications</span></a></li>
                    <li><a href="#contacts" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>

                    {% elif page == 'details' %}
                    <li><a href="/emran/" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a> </li>
                    <li><a href="javascript:history.back()" class="nav-link scrollto"><i class="bx bx-share"></i> <span>Back</span></a></li>

                    {% else %}
                    <li><a href="" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a> </li>

                    {% endif %}
                </ul>
                <!-- bxs-badge bx-file-blank bx-home bx-user bx-award bx-book-content bx-server bx-envelope bxs-graduation bxs-user-x bxs-user-pin
                 bxs-user-detail bxs-user-check bxs-user-badge bxs-user-account -->
            </nav><!-- .nav-menu -->
        </div>

    </header>

